/* color variables */
/* p {
  --main-color: red;
}

div {
  --main-color: blue;
} */

body {
  scroll-snap-type: y proximity;
  scroll-padding: 40px;
  font-family: sans-serif;
}

p {
  background-color: var(--main-color);
}

/*******************************************/
/*  HEADER  */
/*******************************************/

header {
  box-sizing: border-box;
  min-height: 120px;
  overflow: hidden;
  padding-top: 45px;
  background-image: url("../img/cranberries-957583_960_720.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: white;
  margin-bottom: 0;
}

h1 {
  color: #fff;
  text-shadow: 0 0 6px black;
  font-size: 200%;
  text-align: center;
  margin: 0 0 15px;
  overflow: hidden;
}

.span {
  font-weight: 100;
}

/*******************************************/
/*  NAVIGATION  */
/*******************************************/

nav {
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  min-height: 38px;
  margin-top: 0;
  margin-bottom: 20px;
}

.navbar {
  height: 37px;
  width: 100%;
  background-image: linear-gradient(to right, #cf091a 40%,#1c41e6 60%);
}

ul {
  width: 540px;
  height: 38px;
  margin: 0 auto;
  padding: 0;
}

li {
  display: block;
  list-style-type: none;
  float: left;
  padding: 9px 20px 8px 20px;
  background-color: #cecece;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  transition: padding 0.5s;
}

li:first-child {
  border-left: 2px solid #fff;
}

ul::before,
ul::after {
  content: "";
  background-color: #cecece;
  width: 100%;
}

li:last-child {
  border-right: 2px solid #fff;
}

li:hover {
  padding: 9px 20px 40px 20px;
}

nav li a {
  font-size: 110%;
  color: #fff;
  text-decoration: none;
}

.apples {
  background-color: #cf091a;
}
.bananas {
  background-color: rgb(216, 177, 6);
}
.oranges {
  background-color: rgb(241, 111, 3);
}
.limes {
  background-color: rgb(70, 184, 35);
}
.blueberries {
  background-color: #1c41e6;
}

/*******************************************/
/*  LAYOUT  */
/*******************************************/

.container {
  max-width: 900px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

[class*="col-"] {
  float: left;
  margin: 0;
  padding: 0 20px;
  box-sizing: border-box;
}

.col-1 {
  width: 5.91%;
}
.col-2 {
  width: 16.67%;
  background-color: rgb(243, 243, 130);
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
  background-color: rgb(209, 196, 196);
}
.col-6 {
  width: 50%;
}
.col-8 {
  width: 66.67%;
  background-color: rgb(196, 209, 197);
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
  background-color: rgb(238, 188, 188);
}
.col-12 {
  width: 100%;
}

.clearfix {
  display: block;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.left {
  width: 400px;
  float: left;
}

/*******************************************/
/*  FORMS  */
/*******************************************/

button {
  margin-top: 5px;
}

label {
  display: block;
}

.form-control {
  display: block;
  width: 600px;
  margin: 10px 0;
}

.form-control textarea {
  width: 600px;
}

.columns {
  overflow: hidden;
  background-color: #eee;
}

/*******************************************/
/*  MISC  */
/*******************************************/

.test {
  border: 1px solid blue;
  clear: both;
}

.redbox {
  scroll-snap-align: start;
  width: 100%; 
  height: 400px; 
  background-color: red;
}

/*******************************************/
/*  MEDIA QUERIES  */
/*******************************************/

@media (min-width: 768px) {
  h1 {
    font-size: 200%;
  }
}
