/****************************************/
/*** CLASS NAMING CONVENTIONS ***********/
/****************************************

I'm using a modifed version of the BEM system:
see http://getbem.com/

[BLOCK] + "--" + [ELEMENT] + "-" + [MODIFIER] 

****************************************/
/*** OVERALL ****************************/
/****************************************/
html {
  font-size: 0.8em;
}
body {
  font-size: 0.9rem;
  font-family: "Roboto Mono", monospace, sans-serif;
  font-weight: 700;
  background-color: #232323;
  background-image: url("../img/bills-website-bg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}
div, article, aside, details,
figcaption, figure, footer,
header, main, mark, nav,
section, summary, time {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
  margin-block-start: 0;
  margin-block-end: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.8em;
  color: #00b3c8;
}
p {
  font-weight: 400;
  color: #afafaf;
  line-height: 1.8em;
}
hr {
  border: solid 0 #686868;
  border-bottom: dotted 0.1em #686868;
  margin: 1em 0;
}
.display-none {
  display: none;
}
.vis-hidden {
  visibility: hidden;
}
.code-comment {
  color: #686868;
}
.code-special {
  color: #00b3c8;
}
.code-string {
  /* color: #b7722f; */
  color: #afafaf;
}
.code-function {
  color: #deb331;
}
.code-heading {
  font-size: 1.2em;
}
.tab-1 {
  margin-left: 0;
}
.content {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1em;
}
.content p {
  margin-bottom: 1.5em;
}

/*** OVERALL Media Queries **************************/
@media (min-width: 576px) {
  /* This controls the overall base font size according to viewport width */
  html {
    font-size: calc(0.4em + 1vw);
  }
  body {
    font-size: 1rem;
  }
  .tab-1 {
    margin-left: 2em;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 1em;
  }
}


/****************************************/
/*** HEADER *****************************/
/****************************************/
nav {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5em;
  background-color: #232323dd;
  padding: 0 1.5em;
}
nav a,
nav p {
  margin: 0 0.3em;
  line-height: 0;
}

nav a svg, 
nav a img {
  width: 3.6em;
}
#w-nav-logo {
  height: 5em;
  width: 5em;
}
nav a svg:hover path, 
nav a svg:hover polygon,
nav #w-nav-logo:hover path,
nav #w-nav-logo:hover polygon {
  fill: #deb331;
}
#w-nav-logo:hover {
  cursor: pointer;
}
.header--pedigree {
  z-index: 10;
  position: fixed;
  top: 4.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3em;
  text-align: center;
  background-color: #00b3c8;
  display: none;
  box-shadow: 0 0.3em 0.4em #00000044;
}
.header--pedigree p {
  color: #fff;
}
.header--pedigree span {
  color: #222;
}
.header--pedigree a {
  color: #fff;
  text-decoration-color: #fff;
}
.header--pedigree a:hover {
  color: #222;
  text-decoration-color: #222;
}


/****************************************/
/*** ABOUT ******************************/
/****************************************/
#about {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
#about .content {
  min-height: 100vh;
}
.vh-wrapper {
  position: absolute;
  left: 0;
  top: calc(50% - 281px + 8em);
  height: auto;
  padding: 0 1em;
}


/****************************************/
/*** TECH *******************************/
/****************************************/
#tech {
  position: relative;
  width: 100%;
  margin-bottom: 10em;
}


/****************************************/
/*** DEVELOPMENT ************************/
/****************************************/
#development {
  position: relative;
  width: 100%;
  margin-bottom: 10em;
}


/****************************************/
/*** DESIGN *****************************/
/****************************************/
#design {
  position: relative;
  width: 100%;
  margin-bottom: 8em;
}


/****************************************/
/*** MY INTERESTS ***********************/
/****************************************/
#my-interests {
  position: relative;
  width: 100%;
  margin-bottom: 8em;
}


/****************************************/
/*** GALLERY ****************************/
/****************************************/
.gallery--wrapper {
  width: 100%;
  background-color: #00b3c8;
  margin-top: 1.5em;
  padding: 2em 0 0;
}
.gallery--images {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.image-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  background-color: #deb331;
  box-shadow: 0.4em 0.4em 0.6em #00000044;
  margin-bottom: 2em;
}
.image-box img {
  width: 100%;
}
.image-box:hover img {
  opacity: 0.1;
  filter: grayscale(100%);
}
.image-box-label {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
}
.image-box:hover .image-box-label {
  display: flex;
  cursor: pointer;
}
.image-box h2 {
  color: #fff;
}

@media (min-width: 576px) {
  .image-box {
    flex-basis: 48%;
  }
}

/****************************************/
/*** FOOTER *****************************/
/****************************************/
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 6em;
  background-color: #00b3c8;
}

footer p {
  color: #222;
}

/****************************************/
/*** FLOATING IMAGES ********************/
/****************************************/
#coffee-hand {
  position: fixed;
  top: 100vh;
  right: -450px;
}
#coffee-hand img {
  /* position: relative; */
}


