/****************************************/
/*** CLASS NAMING CONVENTIONS ***********/
/****************************************

I'm using a modifed version of the BEM system:
see http://getbem.com/

[BLOCK] + "--" + [ELEMENT] + "-" + [MODIFIER] 

****************************************/
/*** OVERALL ****************************/
/****************************************/
html {
  font-size: 0.9em;
}
body {
  position: relative;
  font-size: 0.9rem;
  font-family: "Roboto Mono", monospace, sans-serif;
  font-weight: 700;
  background-color: #232323;
  -webkit-overflow-scrolling: touch;
}
div, article, aside, details,
figcaption, figure, footer,
header, main, mark, nav,
section, summary, time {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p {
  margin-block-start: 0;
  margin-block-end: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.8em;
  color: #00b3c8;
}
p {
  font-weight: 400;
  color: #afafaf;
  line-height: 1.8em;
}
hr {
  border: solid 0 #686868;
  border-bottom: dotted 0.1em #686868;
  margin: 1em 0;
}
.display-none {
  display: none;
}
.vis-hidden {
  visibility: hidden;
}
.code-comment {
  color: #686868;
}
.code-special {
  color: #00b3c8;
}
.code-string {
  color: #a67052;
}
.code-function {
  color: #deb331;
}
.code-heading {
  font-size: 1.2em;
}
.tab-1 {
  margin-left: 0;
}
.content {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1em;
}
.content p {
  margin-bottom: 1.5em;
}

/*** OVERALL Media Queries **************************/
@media (min-width: 480px) {
  /* This grows the overall base font size according to viewport width */
  html {
    font-size: calc(0.5em + 1vw);
  }
  body {
    font-size: 1rem;
  }
  .tab-1 {
    margin-left: 2em;
  }
}

@media (min-width: 768px) {
  /* This puts a ceiling on the growth of the font size value. */
  html {
    font-size: 1em;
  }
}


/****************************************/
/*** HEADER *****************************/
/****************************************/
header {
  display: flex;
}
nav {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #232323ee;
  box-shadow: 0 .2em .3em #00000044;
}
nav #linkedin-navbar,
nav #github-navbar,
nav #w-logo-navbar {
  margin: 0 0.5em;
}
nav #linkedin-navbar a,
nav #github-navbar a {
  line-height: 0;
}
nav a svg, 
nav a img {
  width: 3.7em;
  height: 3.7em;
}
nav #linkedin-navbar,
nav #github-navbar {
  display: none;
}
#w-nav-logo {
  width: 100%;
  height: 3.7em;
}
ul#nav-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}
ul#nav-navbar.active #w-logo-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.7em;
}
ul#nav-list {
  display: none;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
  width: 100%;
  height: 29.6em;
  margin: 0;
  padding: 0;
}
ul#nav-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.7em;
}
ul.active li {
  width: 100%;
  background-color: #232323;
  border-bottom: 0.1em dotted #ffffff44;
}
ul#nav-list li:last-child {
  box-shadow: 0 .2em .3em #00000077;
}
ul#nav-list li svg {
  width: 3.7em;
  height: 3.7em;
}
ul#nav-list li a {
  display: block;
  width: 100%;
  height: 3.7em;
  line-height: 3.6em;
  text-align: center;
  font-weight: 200;
  font-size: 1.1em;
  color: #00b3c8;
  text-decoration: none;
}
.menu-btn {    
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  top: 1.2em;
  right: 2em;
  width: 2.2em;
  height: 1.28em;
}
.bar {
  width: 100%;
  height: 0.2em;
  background-color: #00b3c8;
  transition: transform .2s ease;
}
.menu-btn.active .bar#bar-1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 6.5px);
  transform: rotate(-45deg) translate(-4px, 6.5px);
}
.menu-btn.active .bar#bar-2 {
  opacity: 0;
}
.menu-btn.active .bar#bar-3 {
  -webkit-transform: rotate(45deg) translate(-3px, -6.5px);
  transform: rotate(45deg) translate(-3px, -6.5px);
}
.header--pedigree {
  z-index: 10;
  position: fixed;
  top: 3.7em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0;
  transition: height .25s ease;
  overflow: hidden;
  text-align: center;
  background-color: #00b3c8;
  box-shadow: 0 0.3em 0.4em #00000044;
}
.header--pedigree p {
  color: #fff;
  font-size: 0.9em;
}
.header--pedigree .header--pedigree-divider {
  color: #222;
}
.header--pedigree .header--pedigree-details {
  display: none;
}
.header--pedigree a {
  color: #fff;
  text-decoration: none;
  border-bottom: .1em dotted #fff;
  transition: color 0.3s, border-bottom 0.3s;
}
.header--pedigree a:hover {
  color: #222;
  border-bottom: .1em dotted #222;
  cursor: pointer;
}

@media (min-width: 480px) {
  nav .menu-btn {
    display: none;
  }
  nav #linkedin-navbar,
  nav #github-navbar,
  nav #w-logo-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.7em;
    height: 3.7em;
  }
  ul li {
    border-bottom: 0 dotted #ffffff44;
  }
  #nav-navbar svg:hover path, 
  #nav-navbar svg:hover polygon {
    fill: #deb331;
    transition: fill 0.5s;
  }
  #w-nav-logo:hover {
    cursor: pointer;
  }
  .header--pedigree.active {
    height: 3em;
    transition: height .25s ease;
  }
}
@media (min-width: 630px) {
  .header--pedigree .header--pedigree-details {
    display: inline;
  }
}


/****************************************/
/*** PARALLAX ***************************/
/****************************************/
main {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.background-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 1600px;
  overflow-y: hidden;
  background-color: #232323;
}
.background-1 img {
  display: block;
  width: 100%;
  height: auto;
}
.foreground {
  position: relative;
}

@media (min-width: 480px) {
  main {
    perspective: 1px;
    perspective-origin: 0 0;
  }
  .background-1 {
    transform-origin: 0 0;
    transform: translateZ(-1px) scale(2);
    display: block;
  }
}



/****************************************/
/*** ABOUT ******************************/
/****************************************/
#about {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 15vw;
  opacity: 0;
}
#about .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.vh-wrapper {
  display: block;
  height: auto;
  margin: 3em 0;
  padding: 6em 1em 0;
}

@media (min-width: 480px) {
  #about {
    min-height: 42em;
  }
  #about .content {
    min-height: 42em;
  }
  .vh-wrapper {
    top: calc(50% - 11em);
  }
}

@media (min-width: 768px) {
  #about {
    min-height: 100vh;
  }
  #about .content {
    min-height: 100vh;
  }
  .vh-wrapper {
    position: absolute;
    left: 0;
    top: calc(50% - 10em);
    display: block;
    padding: 0 1em;
    margin: 0;
    height: auto;
  }
}



/****************************************/
/*** TECH *******************************/
/****************************************/
#tech {
  position: relative;
  width: 100%;
  margin-bottom: 5em;
  margin-left: -15vw;
  opacity: 0;
}
/* This puts an offset on the scrollTop for the in-page hashchange. */
#tech::before { 
  display: flex; 
  content: " "; 
  margin-top: -6em; 
  height: 6em; 
  visibility: hidden; 
  pointer-events: none;
}

@media (min-width: 480px) {
  #tech {
    margin-bottom: 10em;
  }
}


/****************************************/
/*** DEVELOPMENT ************************/
/****************************************/
#development {
  /* display: flex; */
  position: relative;
  width: 100%;
  margin-bottom: 5em;
  margin-left: -15vw;
  opacity: 0;
}
/* This puts an offset on the scrollTop for the in-page hashchange. */
#development::before { 
  display: flex; 
  content: " "; 
  margin-top: -6em; 
  height: 6em; 
  visibility: hidden; 
  pointer-events: none;
}
#development .gallery--wrapper .content {
  display: none;
}
#development .gallery--wrapper .content.active {
  display: block;
}

@media (min-width: 480px) {
  #development {
    margin-bottom: 10em;
  }
}



/****************************************/
/*** DESIGN *****************************/
/****************************************/
#design {
  /* display: flex; */
  position: relative;
  width: 100%;
  margin-bottom: 0;
  margin-left: -15vw;
  opacity: 0;
}
/* This puts an offset on the scrollTop for the in-page hashchange. */
#design::before { 
  display: flex; 
  content: " "; 
  margin-top: -6em; 
  height: 6em; 
  visibility: hidden; 
  pointer-events: none;
}
#design .gallery--wrapper .content {
  display: none;
  transition: display 0.5s;
}
#design .gallery--wrapper .content.active {
  display: block;
  transition: display 0.5s;
}


/****************************************/
/*** MY INTERESTS ***********************/
/****************************************/
#my-interests {
  position: relative;
  width: 100%;
  background-image: url("../img/bills-website-bg-2.jpg");
  background-position: 50% 55%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5em 0 4em;
  margin-left: -15vw;
  opacity: 0;
}

@media (min-width: 480px) {
  #my-interests {
    padding: 8em 0 7em;
  }
}


/****************************************/
/*** GALLERY ****************************/
/****************************************/
.gallery--wrapper {
  width: 100%;
  background-color: #00b3c8;
  margin-top: 1.5em;
  padding: 2em 0 0;
}
.gallery--images {
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  display: none;
}
.gallery--images.active {
  display: flex;
}
.image-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  background-color: #deb331;
  box-shadow: 0.4em 0.4em 0.6em #00000044;
  border-radius: 0.3em;
  margin-bottom: 2em;
}
.image-box a {
  padding: 0;
  line-height: .08em;
}
.image-box img {
  width: 100%;
  border-radius: 0.3em;
}
.image-box:hover img {
  opacity: 0.1;
  filter: grayscale(100%);
}
.image-box-label {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
}
.image-box:hover .image-box-label {
  display: flex;
  cursor: pointer;
}
.image-box h2 {
  color: #fff;
}
#carousel--grad-portal,
#carousel--retro-board,
#carousel--advertising,
#carousel--illustration,
#carousel--pckg-food,
#carousel--pckg-entertainment,
#carousel--logos,
#carousel--iconography
 {
  display: none;
}
#carousel--grad-portal.active,
#carousel--retro-board.active,
#carousel--advertising.active,
#carousel--illustration.active,
#carousel--pckg-food.active,
#carousel--pckg-entertainment.active,
#carousel--logos.active,
#carousel--iconography.active {
  display: block;
}
.gallery--wrapper .content.active .close-btn { 
  display: block;  
  position: absolute;
  bottom: 2.5em;
  right: 2.5em;
  height: 2.2em;
  width: 2.2em;
  z-index: 10;
}
.gallery--wrapper .content.active .close-btn:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "\d7"; /* use the hex value here... */
  font-size: 2.2em; 
  color: #222;
  line-height: 2em;
  text-align: center;
}
.gallery--wrapper .content .close-btn {   
  display: none;
}
#carousel--iconography {
  padding-bottom: 4.8em;
}
#carousel--iconography img {
  width: 100%;
}

@media (min-width: 480px) {
  .image-box {
    flex-basis: 48%;
  }
  .gallery--wrapper .close-btn:hover {
    cursor: pointer;
  }
}

/****************************************/
/*** OWL CAROUSEL OVERRIDES *************/
/****************************************/
.owl-carousel {
  border-radius: 0.3em;
}
.owl-carousel img {
  border-radius: 0.3em;
}
.owl-nav {
  text-align: center;
}
.owl-carousel .owl-nav button.owl-next, 
.owl-carousel .owl-nav button.owl-prev {
  font-size: 2.5em;
  color: #222;
}
.owl-dots {
  text-align: center;
  line-height: 0.4em;
  padding-bottom: 1em;
}
.owl-carousel button.owl-dot {
    border-radius: 50%;
    height: 0.6em;
    width: 0.6em;
    display: inline-block;
    background: #22222244;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.owl-carousel button.owl-dot.active {
    background: #222;
}

/****************************************/
/*** FOOTER *****************************/
/****************************************/
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #00b3c8;
  padding: 2em 0;
}
footer p {
  width: 100%;
  flex-basis: 100%;
  color: #fff;
  margin-bottom: 0.2em;
}
footer p a {
  color: #fff;
  text-decoration: none;
  border-bottom: .1em dotted #fff;
}
footer p a:hover {
  color: #222;
  text-decoration: none;
  border-bottom: .1em dotted #222;
  cursor: pointer;
}
.copyright {
  opacity: 0.7;
}
.copyright span {
  font-size: 107%;
  margin-right: 0.1em;
}


