/****************************************/
/*** CLASS NAMING CONVENTIONS ***********/
/****************************************

I'm using a modifed version of the BEM system:
see http://getbem.com/

[BLOCK] + "--" + [ELEMENT] + "-" + [MODIFIER] 

/****************************************/
/*** OVERALL ****************************/
/****************************************/
html {
  font-size: 0.8em;
}
body {
  font-size: 0.9rem;
  font-family: "Roboto Mono", monospace, sans-serif;
  font-weight: 700;
  background-color: #232323;
  background-image: url("../img/bills-website-bg.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1, h2, h3, h4, h5, h6, p {
  margin-block-start: 0;
  margin-block-end: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.8em;
  color: #00b3c8;
}
p {
  font-weight: 400;
  color: #afafaf;
  line-height: 1.8em;
}
.display-none {
  display: none;
}
.vis-hidden {
  visibility: hidden;
}

/*** OVERALL Media Queries **************************/
@media (min-width: 501px) {
  /* This controls the overall base font size according to viewport width */
  html {
    font-size: calc(0.4em + 1vw);
  }
  body {
    font-size: 1rem;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 1em;
  }
}


/****************************************/
/*** NAVBAR *****************************/
/****************************************/
nav {
  display: flex;
  flex-direction: row;
  height: 4.5em;
  background-color: #232323cc;
}


/****************************************/
/*** TECH *******************************/
/****************************************/
.tech {
  max-width: 740px;
  margin: 3em auto;
  padding: 0 1em;
}

/*** TECH POP-UP **************************/
.tech--popup {
  display: none;
  /* Needs to be fixed height for jQuery slider to work */
  height: 23.5rem;
  padding: 1em 0;
}

/*** TECH Pop-up Proficiency Graphic **************************/
.tech--popup-proficiency {
  position: relative;
  font-size: 0.75rem;
  width: 10rem;
  height: 10rem;
  margin: 0 0 0.3rem;
}
.tech--popup-proficiency-svg {
  position: relative;
}
.tech--popup-proficiency-text {
  text-align: center;
  width: 7em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -2.25em 0 0 -3.5em;
  padding: 0;
}
.tech--popup-proficiency-text h1 {
  margin: 0 0 0.08em 0;
  padding: 0;
  font-size: 3.4em;
  line-height: 0.7em;
  color: #deb331;
}
.tech--popup-proficiency-text span {
  height: 3.4em;
}
.tech--popup-proficiency-fill {
  fill: #deb331;
}
.tech--popup-proficiency-text p {
  height: 1em;
  color: #b7722f;
}

/*** TECH Pop-up Experience **************************/
.tech--popup-experience {
  padding-top: .5em;
}
.tech--popup-experience h3 {
  color: #deb331;
}
.tech--popup-experience a {
  text-decoration: none;
  color: #afafaf;
  border-bottom: .15em dotted #afafaf;
}
.tech--popup-experience a:hover {
  border-bottom: .15em solid #deb331;
}

/*** TECH GRID **************************/
.tech--grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: -1.8em;
}
/* This makes the last flex row align left */
.tech--grid:after {
  content: '';
  flex: auto;
}
.tech--grid-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.5em;
  height: 6.5em;
}
.tech--grid-icon-popup {
  position: absolute;
  top: 5.8em;
  font-size: 0.83em;
  line-height: 1.2em;
  color: #deb331;
  width: 100%;
  text-align: center;
  display: none;
}
.tech--grid-icon svg {
  width: 60%;
}
.tech--grid-icon:hover {
  cursor: pointer;
}
.tech--grid-icon:hover svg path,
.tech--grid-icon:hover svg polygon {
  fill: #deb331;
}
.tech--grid-icon.active svg path,
.tech--grid-icon.active svg polygon {
  fill: #deb331;
}
.tech--grid-icon:hover .tech--grid-icon-popup {
  display: block;
}

/*** TECH Media Queries **************************/

@media (min-width: 361px) {
  .tech--popup {
    height: 22rem;
  }
}

@media (min-width: 431px) {
  .tech--popup {
    height: 20rem;
  }
}

@media (min-width: 501px) {
  .tech--popup {
    height: 14.7rem;
  }
  .tech--popup-proficiency {
    position: relative;
    top: 0;
    left: 0;
    float: left;
    font-size: 1rem;
    width: 15em;
    height: 15em;
    margin-right: 1rem;
  }
  .tech--popup-proficiency-svg {
    position: absolute;
  }
  .tech--popup-proficiency-text {
    text-align: center;
    width: 7em;
    margin: -2.25em 0 0 -3.5em;
    padding: 0;
  }
  .tech--popup-experience {
    text-align: left;
    padding-left: 16.5em;
  }
}