/****************************************/
/*** CLASS NAMING CONVENTIONS ***********/
/****************************************

I'm using a modifed version of the BEM system:
see http://getbem.com/

[BLOCK] + "--" + [ELEMENT] + "-" + [MODIFIER] 

//****************************************/
/*** TECH *******************************/
/****************************************/

/*** TECH POP-UP **************************/
.tech--popup {
  padding: 1em 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/*** TECH Pop-up Proficiency Graphic **************************/
.tech--popup-proficiency {
  position: relative;
  font-size: 1rem;
  width: 15em;
  height: 15em;
}
.tech--popup-proficiency-svg {
  position: relative;
}
.tech--popup-proficiency-text {
  text-align: center;
  width: 7em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -2.25em 0 0 -3.5em;
  padding: 0;
}
.tech--popup-proficiency-text h1 {
  margin: 0 0 0.08em 0;
  padding: 0;
  font-size: 3.4em;
  line-height: 0.7em;
  color: #deb331;
}
.tech--popup-proficiency-text span {
  height: 3.4em;
}
.tech--popup-proficiency-fill {
  fill: #deb331;
}
.tech--popup-proficiency-text p {
  height: 1em;
  color: #a67052;
}

/*** TECH Pop-up Experience **************************/
.tech--popup-experience {
  flex-basis: 100%;
  padding: .5em 0 0 .5em;
}
.tech--popup-experience h3 {
  color: #afafaf;
}
.tech--popup-experience a {
  text-decoration: none;
  color: #afafaf;
  border-bottom: .1em dotted #afafaf;
}
.tech--popup-experience a:hover {
  color: #deb331;
  border-bottom: .1em dotted #deb331;
}
#tech .content .tech--popup-experience p {
  margin-bottom: 0.5em;
}

/*** TECH GRID **************************/
.tech--grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow-x: scroll;
  height: 8em;
}
/* This makes the last flex row align left */
.tech--grid:after {
  content: '';
  flex: auto;
}
.tech--grid-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.5em;
  height: 5.5em;
}
.tech--grid-icon-popup {
  position: absolute;
  top: 5.6em;
  font-size: 0.83em;
  line-height: 1.2em;
  color: #686868;
  width: 100%;
  text-align: center;
}
.tech--grid-icon svg {
  width: 100%;
}
.tech--grid-icon:hover {
  cursor: pointer;
}
.tech--grid-icon:hover svg path,
.tech--grid-icon:hover svg polygon {
  fill: #deb331;
}
.tech--grid-icon.active svg path,
.tech--grid-icon.active svg polygon {
  fill: #deb331;
}

@media (min-width: 480px) {
  .tech--grid {
    flex-wrap: wrap;
    overflow-x: unset;
  }
}

/*** TECH Media Queries **************************/
@media (min-width: 480px) {
  .tech--popup {
    justify-content: flex-start;
  }
  .tech--popup-proficiency {
    position: relative;
    font-size: 1rem;
    width: 15em;
    height: 15em;
    margin-right: 1rem;
  }
  .tech--popup-proficiency-text {
    text-align: center;
    width: 7em;
    margin: -2.25em 0 0 -3.5em;
    padding: 0;
  }
  .tech--grid-icon {
    width: 6em;
    height: 6em;
  }
  .tech--grid-icon svg {
    width: 75%;
  }
  .tech--grid-icon-popup {
    top: 5.9em;
  }
  .tech--popup-experience {
    flex: 1;
    padding-top: .5em;
  }
}

@media (min-width: 768px) {
  .tech--grid-icon svg {
    width: 60%;
  }
}